@model Reach.Models.Customer

@{
    ViewBag.Title = "Dummy";
}

@*<h1>@ViewBag.Status</h1>*@
<h2>Dummy</h2>
<h3>user can checkout now</h3>

<script>
    function f1() {
        sub = "hello";
    }
     //sub="hi";
    $(function () {
        f1();
        alert(sub);
    })
</script>